# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Atlas Connection
MONGODB_URI=mongodb+srv://Rerico:wisdom001@rerico.1aimzly.mongodb.net/rericoDB?retryWrites=true&w=majority&appName=Rerico
# JWT Secret
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dng5bs1qy
CLOUDINARY_API_KEY=331112365168259
CLOUDINARY_API_SECRET=k5Tus-t9ghaqP1rmkK7eNgO_BYg

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:5173
ADMIN_URL=http://localhost:5174
